<link rel="stylesheet" href="css/client/products.css">
<script type="text/javascript" src="js/client/products.js"></script>

<% include sidebar.ejs %>

<div class="container">
		<ul class="products row">

			<% for(var i = 0; i < products.length; i++) { %>
			<li productid="<%= products[i].id %>" class="product col-md-3 col-sm-4 col-xs-8 col-xs-offset-2 col-sm-offset-0">
				<div>
					<a href="/product/<%= products[i].id %>">
						<img src="<%- products[i].images.split(',')[0] %>" alt="<%= products[i].name %>#0">
						<h3><%= products[i].name %></h3>
					</a>
					<a href="javascript:void(0)" onclick="heartItem($(this))"><i class="fa fa-heart-o fa-2x"></i></a>
				</div>
			</li>
			<% } %>

		</ul>
</div>
